body{
  font-family: 'Open Sans', sans-serif;
}

.container-fluid{
  padding:0;
}



/*
* Help view specific
*/
div.config-view .span12{
    padding:0.5em 1em;
}
div.config table td, div.config table th
{
    text-align:left;
}



.icon{
    display:block;
  color:white;
  text-align:center;
    font-size:20em;
    line-height: 1.25em;
}

.radiator-title-wrapper{
	text-align:center;
    background:#AAA;
}

.build-metrics-wrapper{
    position:fixed;
    bottom:0px;
}

.build-metrics-footer{
    position:fixed;
    width:100%;
    bottom:0px;
    border-top:thin solid #666;
    padding:0em 0.5em 0em 0.5em;
    background:#AAA;
    font-size:0.8em;
}

#radiator-loading-indicator{
    position:absolute;
    top:0px;
    right:0px;
}

.build-metric{
  text-align:center;
  margin-bottom:1em;
}

.build-metric h1{
  border-bottom:thin solid #666;
  background:#AAA;
  text-transform:uppercase;
  font-size:24px;
  font-weight:600;
}

.build-metric p{
  background: #ccc;
  font-size:120px;
  line-height:144px;
  font-weight:800;
}

.job-view {
  margin:0.8em 0em;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.job-view span {
  display: inline-block;
  height: 100%;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.job-view span h1{
  color:white;
  font-size:56px;
  line-height:64px;
}


.job-view.red_anime, .job-view.red{
  background-color: red;
}
.job-view.blue_anime, .job-view.blue{
    background-color: blue;
}
.job-view.disabled{
    background-color: grey;
}